name: Building

on: [push, pull_request]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v1
    - name: Set up Python
      uses: actions/setup-python@v1
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install platformio
    - name: Add libraries
      run: |
        pio pkg install --global --library me-no-dev/AsyncTCP
        pio pkg install --global --library https://github.com/arduino-libraries/Ethernet.git  # Ethernet
    - name: Build examples
      run: |
        ./scripts/build_examples.sh
